@charset "UTF-8";

@font-face {
  font-family: "untitled-font-2";
  src:url("fonts/untitled-font-2.eot");
  src:url("fonts/untitled-font-2.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-2.woff") format("woff"),
    url("fonts/untitled-font-2.ttf") format("truetype"),
    url("fonts/untitled-font-2.svg#untitled-font-2") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-2" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-2" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock-o:before {
  content: "\61";
}
.icon-eye:before {
  content: "\62";
}
.icon-envelope:before {
  content: "\63";
}
.icon-heart:before {
  content: "\64";
}
.icon-instagram:before {
  content: "\65";
}
.icon-leanpub:before {
  content: "\66";
}
.icon-linkedin:before {
  content: "\67";
}
.icon-play-circle:before {
  content: "\68";
}
.icon-quote-right:before {
  content: "\69";
}
.icon-quote-left:before {
  content: "\6a";
}
.icon-map-pin:before {
  content: "\6c";
}
.icon-plus-square:before {
  content: "\6b";
}
.icon-twitter-square:before {
  content: "\6d";
}
.icon-weixin:before {
  content: "\6e";
}
.icon-youtube-square:before {
  content: "\6f";
}
.icon-paper-plane:before {
  content: "\70";
}
.icon-folder:before {
  content: "\71";
}
.icon-folder-open:before {
  content: "\72";
}
.icon-facebook-square:before {
  content: "\73";
}
.icon-comments:before {
  content: "\74";
}
.icon-bullhorn:before {
  content: "\76";
}
.icon-bars:before {
  content: "\77";
}
.icon-calendar:before {
  content: "\78";
}
.icon-globe:before {
  content: "\75";
}
.icon-angle-down:before {
  content: "\79";
}
.icon-angle-up:before {
  content: "\7a";
}
.icon-rocket:before {
  content: "\41";
}
.icon-users:before {
  content: "\42";
}
.icon-slack:before {
  content: "\43";
}
.icon-coffee:before {
  content: "\44";
}
.icon-film:before {
  content: "\45";
}
.icon-shopping-cart:before {
  content: "\46";
}
.icon-sign-out:before {
  content: "\47";
}
.icon-share-alt:before {
  content: "\48";
}
.icon-user-plus:before {
  content: "\49";
}
.icon-trophy:before {
  content: "\4a";
}
.icon-puzzle-piece:before {
  content: "\4b";
}
.icon-picture-o:before {
  content: "\4c";
}
.icon-pie-chart:before {
  content: "\4d";
}
.icon-camera:before {
  content: "\4e";
}
.icon-cogs:before {
  content: "\4f";
}
.icon-headphones:before {
  content: "\50";
}
.icon-lightbulb-o:before {
  content: "\51";
}
.icon-map-signs:before {
  content: "\52";
}
.icon-refresh:before {
  content: "\53";
}
.icon-server:before {
  content: "\54";
}
.icon-tasks:before {
  content: "\55";
}
.icon-headphone:before {
  content: "\56";
}
.icon-image:before {
  content: "\57";
}
.icon-flag-o:before {
  content: "\58";
}
.icon-ios-people-outline:before {
  content: "\59";
}
.icon-ios-people:before {
  content: "\5a";
}
.icon-ios-flag:before {
  content: "\30";
}
.icon-ios-flag-outline:before {
  content: "\31";
}
.icon-map:before {
  content: "\32";
}
.icon-ribbon:before {
  content: "\33";
}
.icon-street-view:before {
  content: "\34";
}
.icon-map-1:before {
  content: "\36";
}
.icon-home:before {
  content: "\37";
}
.icon-broadcast:before {
  content: "\38";
}
.icon-package:before {
  content: "\39";
}
.icon-organization:before {
  content: "\21";
}
.icon-group-full:before {
  content: "\22";
}
.icon-point-of-interest:before {
  content: "\23";
}
.icon-satellite-ground:before {
  content: "\24";
}
.icon-diamond:before {
  content: "\35";
}
.icon-ship:before {
  content: "\25";
}
.icon-android-boat:before {
  content: "\26";
}
.icon-social-sass:before {
  content: "\27";
}
.icon-social-javascript:before {
  content: "\28";
}
.icon-social-wordpress:before {
  content: "\29";
}
.icon-social-css3:before {
  content: "\2a";
}
.icon-social-android:before {
  content: "\2b";
}
.icon-social-android-outline:before {
  content: "\2c";
}
.icon-social-css3-outline:before {
  content: "\2d";
}
.icon-social-javascript-outline:before {
  content: "\2e";
}
.icon-social-linkedin:before {
  content: "\2f";
}
.icon-social-reddit-outline:before {
  content: "\3a";
}
.icon-social-reddit:before {
  content: "\3b";
}
.icon-social-twitter:before {
  content: "\3c";
}
.icon-social-twitter-outline:before {
  content: "\3d";
}
.icon-social-vimeo:before {
  content: "\3e";
}
.icon-social-vimeo-outline:before {
  content: "\3f";
}
.icon-social-pinterest:before {
  content: "\40";
}
.icon-social-pinterest-outline:before {
  content: "\5b";
}
.icon-bell:before {
  content: "\5d";
}
.icon-bell-o:before {
  content: "\5e";
}
.icon-chevron-right:before {
  content: "\5f";
}
.icon-chevron-left:before {
  content: "\60";
}
.icon-thumbs-up:before {
  content: "\7b";
}
.icon-thumbs-o-up:before {
  content: "\7c";
}
.icon-trash:before {
  content: "\7d";
}
.icon-trash-o:before {
  content: "\7e";
}
.icon-phone:before {
  content: "\5c";
}
.icon-file-text-o:before {
  content: "\e000";
}
.icon-file-text:before {
  content: "\e001";
}
